#cuerpo_ventana_primera {
    width: auto;
    height: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    font-family: "Pixelify Sans", sans-serif;

    background-color: black;

    display: flex;
    justify-content: center;
    gap: 100px;
}

#pantalla_carga {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#pantalla_carga_salida {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#contenedor_carga {
    background-color: #c8102e;
    padding: 40px;
    border-radius: 20px;
    border: 10px solid white;
    color: white;
    text-align: center;
    font-size: 50px;
}

#texto_carga {
    font-size: 50px;
}

/* ================= MÁQUINA DE VENDING ================= */
#maquina {
    display: flex;

    background:
        repeating-linear-gradient(0deg,
            rgba(255, 255, 255, 0.05) 0px,
            rgba(255, 255, 255, 0.05) 2px,
            transparent 2px,
            transparent 4px),
        repeating-linear-gradient(90deg,
            rgba(255, 255, 255, 0.05) 0px,
            rgba(255, 255, 255, 0.05) 2px,
            transparent 2px,
            transparent 4px),
        linear-gradient(180deg, #c8102e 0%, #8b0000 50%, #c8102e 100%);

    box-shadow:
        0 0 20px rgba(200, 16, 46, 0.6),
        inset 0 0 10px rgba(0, 0, 0, 0.3);

    border-color: white;


    width: 650px;
    height: 850px;

    border-width: 10px 10px 0 10px;
    border-style: solid;
    border-radius: 150px 150px 0 0;
}


/* ====== DERECHA MÁQUINA*/
#derecha_maquina {
    width: 650px;
    height: 850px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#pantalla_principal {
    width: 650px;
    height: 300px;

    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 70px;

    border-radius: 130px 130px 0 0;
}

#imagen_logo_cocacola {
    width: 400px;
    height: 200px;
}

/* ========== GRUPO BEBIDAS ==========*/
#grupo_bebidas {
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 2;
    gap: 50px;
}

#coca_cola {
    grid-column-start: 0;
    grid-column-end: 1;
    background-color: white;

    grid-row-start: 0;
    grid-row-end: 1;
}

#coca_cola_zero {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: white;

    grid-row-start: 0;
    grid-row-end: 1;
}

#coca_cola_light {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: white;

    grid-row-start: 0;
    grid-row-end: 1;
}

#sprite {
    grid-column-start: 0;
    grid-column-end: 1;
    background-color: white;

    grid-row-start: 1;
    grid-row-end: 2;
}

#fanta {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: white;

    grid-row-start: 1;
    grid-row-end: 2;
}

#nestea {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: white;

    grid-row-start: 1;
    grid-row-end: 2;
}

#insercion_dinero {
    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 0;
    grid-row-end: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

#monedas {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

#billetes {
    width: 50px;
    height: 20px;
}

#monedas:hover,
#billetes:hover {
    cursor: pointer;
    background-color: yellow;
}

/* =============================================== */


#recoger_bebida {
    width: 40%;
    height: 60px;
    margin-bottom: 40px;

    background-color: #333;
    border: 5px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
    transition: all 0.3s ease;
}

#recoger_bebida:hover {
    color: black;
    background-color: gray;
}

/* ================= MENÚ INTERACTIVO ================= */

#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#saldo {
    position: fixed;
    top: 20px;
    right: 40px;

    font-size: 35px;
    font-weight: bold;
    color: white;

    background:
        repeating-linear-gradient(0deg,
            rgba(255, 255, 255, 0.05) 0px,
            rgba(255, 255, 255, 0.05) 2px,
            transparent 2px,
            transparent 4px),
        repeating-linear-gradient(90deg,
            rgba(255, 255, 255, 0.05) 0px,
            rgba(255, 255, 255, 0.05) 2px,
            transparent 2px,
            transparent 4px),
        linear-gradient(135deg, #c8102e 0%, #8b0000 100%);

    padding: 20px 40px;
    border: 5px solid white;
    border-radius: 15px;

    box-shadow:
        0 0 20px rgba(200, 16, 46, 0.6),
        inset 0 0 10px rgba(0, 0, 0, 0.3);

    z-index: 999;

    display: flex;
    align-items: center;
    gap: 10px;
}


#pantalla_interactiva {
    background-color: white;
    width: 600px;
    height: 200px;
    font-family: "Pixelify Sans", sans-serif;

    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20px;

}

#mensaje {
    font-size: 50px;
    font-style: bold;
}

#titulo_menu {
    font-size: 100px;
}

.btn_menu {
    width: 400px;
    height: 100px;
    font-size: 35px;
    font-family: "Pixelify Sans", sans-serif;

    background-color: white;
    border-radius: 10px;

    transition: all;
}

.btn_menu:hover {
    transform: scale(1.05);
    cursor: pointer;
    font-size: 35px;
    border-color: white;
    border-width: 5px;

    background-color: black;
    color: white;
}

#grupo_bebidas img {
    width: 70px;
    height: 130px;
}

.btn_bebida {
    border-width: 10px;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    transition: all;
}

.btn_bebida:hover {
    cursor: pointer;
    transform: scale(1.05);
}

/* ================= PANTALLA DE CONFIRMACIÓN ================= */
#pantalla_confirmacion {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#contenedor_confirmacion {

    background-color: #c8102e;
    padding: 40px;
    border-radius: 20px;
    border: 10px solid white;
    color: white;
    text-align: center;
}

#input_contrasena {
    width: 300px;
    height: 50px;
    font-size: 25px;
    font-family: "Pixelify Sans", sans-serif;
    text-align: center;
    border-radius: 10px;
    border: 5px solid white;
    margin-bottom: 20px;
}


#mensaje_error {
    color: yellow;
    display: none;
    margin-top: 15px;
    font-size: 20px;
}

#botones_confirmacion {
    display: flex;
    gap: 20px;
    justify-content: center;
}

#botones_confirmacion .btn_menu {
    width: 200px;
    height: 60px;
    font-size: 25px;
}


/*================= VENTANA INTRODUCIR DINERO ================= */
#pantalla_dinero {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#contenedor_dinero {
    background-color: #c8102e;
    padding: 40px;
    border-radius: 20px;
    border: 10px solid white;
    color: white;
    text-align: center;
}

#grid_dinero {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-bottom: 30px;
}

.btn_moneda {
    width: 120px;
    height: 80px;
    font-size: 22px;
}


/* ================= VENTANA GESTIÓN MÁQUINA ================= */
#cuerpo_ventana_segunda {
    width: auto;
    height: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    font-family: "Pixelify Sans", sans-serif;

    background-color: black;

    display: flex;
    gap: 100px;
}

#menu_gestion_maquina {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#total_recaudaciones {
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;

    background:
        repeating-linear-gradient(0deg,
            rgba(255, 255, 255, 0.05) 0px,
            rgba(255, 255, 255, 0.05) 2px,
            transparent 2px,
            transparent 4px),
        repeating-linear-gradient(90deg,
            rgba(255, 255, 255, 0.05) 0px,
            rgba(255, 255, 255, 0.05) 2px,
            transparent 2px,
            transparent 4px),
        linear-gradient(135deg, #c8102e 0%, #8b0000 100%);

    padding: 15px 30px;
    border: 5px solid white;
    border-radius: 15px;

    box-shadow:
        0 0 20px rgba(200, 16, 46, 0.6),
        inset 0 0 10px rgba(0, 0, 0, 0.3);
}

#total_recaudaciones_valor {
    font-size: 40px;
    font-weight: bold;
}

#btn_retirar_dinero,
#btn_volver {
    width: 300px;
    height: 50px;
    font-size: 20px;
    font-family: "Pixelify Sans", sans-serif;

    background-color: white;
    border-radius: 10px;

    transition: all 0.3s ease;
}

#btn_retirar_dinero:hover,
#btn_volver:hover {
    transform: scale(1.05);
    cursor: pointer;
    border-color: white;
    border-width: 5px;

    background-color: black;
    color: white;
}

#ventana_gestion {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;

    background:
        repeating-linear-gradient(0deg,
            rgba(255, 255, 255, 0.05) 0px,
            rgba(255, 255, 255, 0.05) 2px,
            transparent 2px,
            transparent 4px),
        repeating-linear-gradient(90deg,
            rgba(255, 255, 255, 0.05) 0px,
            rgba(255, 255, 255, 0.05) 2px,
            transparent 2px,
            transparent 4px),
        linear-gradient(180deg, #c8102e 0%, #8b0000 50%, #c8102e 100%);

    border-color: white;
    box-shadow:
        inset 0 0 50px rgba(0, 0, 0, 0.3),
        0 10px 30px rgba(0, 0, 0, 0.5);

    width: 1000px;
    height: 850px;

    border-width: 5px 5px 0 5px;
    border-style: solid;
    border-radius: 150px 150px 0 0;
    gap: 20px;
}

#relleno_panel_control {
    width: 1000px;
    height: 200px;

    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 70px;

    border-radius: 130px 130px 0 0;

}

#panel_control {
    font-size: 70px;
    margin-bottom: 30px;
    color: red;
}

#titulo_gestion {
    font-size: 50px;
}

#cuadro_coca_cola {
    grid-column-start: 0;
    grid-column-end: 1;
    border-width: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    grid-row-start: 0;
    grid-row-end: 1;

    background:
        repeating-linear-gradient(0deg,
            rgba(255, 255, 255, 0.05) 0px,
            rgba(255, 255, 255, 0.05) 2px,
            transparent 2px,
            transparent 4px),
        repeating-linear-gradient(90deg,
            rgba(255, 255, 255, 0.05) 0px,
            rgba(255, 255, 255, 0.05) 2px,
            transparent 2px,
            transparent 4px),
        linear-gradient(180deg, #ffffff 0%, #ffffff 50%, #c8102e 100%);
}

#cuadro_coca_cola_zero {
    grid-column-start: 1;
    grid-column-end: 2;
    border-width: 5px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    grid-row-start: 0;
    grid-row-end: 1;
    background:
        repeating-linear-gradient(0deg,
            rgba(255, 255, 255, 0.05) 0px,
            rgba(255, 255, 255, 0.05) 2px,
            transparent 2px,
            transparent 4px),
        repeating-linear-gradient(90deg,
            rgba(255, 255, 255, 0.05) 0px,
            rgba(255, 255, 255, 0.05) 2px,
            transparent 2px,
            transparent 4px),
        linear-gradient(180deg, #ffffff 0%, #ffffff 50%, #c8102e 100%);
}

#cuadro_coca_cola_light {
    grid-column-start: 2;
    grid-column-end: 3;
    border-width: 5px;
    padding: 10px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 0;
    grid-row-end: 1;
    background:
        repeating-linear-gradient(0deg,
            rgba(255, 255, 255, 0.05) 0px,
            rgba(255, 255, 255, 0.05) 2px,
            transparent 2px,
            transparent 4px),
        repeating-linear-gradient(90deg,
            rgba(255, 255, 255, 0.05) 0px,
            rgba(255, 255, 255, 0.05) 2px,
            transparent 2px,
            transparent 4px),
        linear-gradient(180deg, #ffffff 0%, #ffffff 50%, #c8102e 100%);
}

#cuadro_sprite {
    grid-column-start: 0;
    grid-column-end: 1;
    border-width: 5px;
    padding: 10px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 1;
    grid-row-end: 2;
    background:
        repeating-linear-gradient(0deg,
            rgba(255, 255, 255, 0.05) 0px,
            rgba(255, 255, 255, 0.05) 2px,
            transparent 2px,
            transparent 4px),
        repeating-linear-gradient(90deg,
            rgba(255, 255, 255, 0.05) 0px,
            rgba(255, 255, 255, 0.05) 2px,
            transparent 2px,
            transparent 4px),
        linear-gradient(180deg, #ffffff 0%, #ffffff 50%, #c8102e 100%);
}

#cuadro_fanta {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    border-width: 5px;
    padding: 10px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:
        repeating-linear-gradient(0deg,
            rgba(255, 255, 255, 0.05) 0px,
            rgba(255, 255, 255, 0.05) 2px,
            transparent 2px,
            transparent 4px),
        repeating-linear-gradient(90deg,
            rgba(255, 255, 255, 0.05) 0px,
            rgba(255, 255, 255, 0.05) 2px,
            transparent 2px,
            transparent 4px),
        linear-gradient(180deg, #ffffff 0%, #ffffff 50%, #c8102e 100%);
}

#cuadro_nestea {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    border-width: 5px;
    padding: 10px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:
        repeating-linear-gradient(0deg,
            rgba(255, 255, 255, 0.05) 0px,
            rgba(255, 255, 255, 0.05) 2px,
            transparent 2px,
            transparent 4px),
        repeating-linear-gradient(90deg,
            rgba(255, 255, 255, 0.05) 0px,
            rgba(255, 255, 255, 0.05) 2px,
            transparent 2px,
            transparent 4px),
        linear-gradient(180deg, #ffffff 0%, #ffffff 50%, #c8102e 100%);
}

#precio_coca_cola,
#precio_coca_cola_zero,
#precio_coca_cola_light,
#precio_sprite,
#precio_fanta,
#precio_nestea {
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    text-align: center;
}

.cuadro_bebida {
    border-width: 10px;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    transition: all;
}


.contenido_refresco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#btn_rellenar_coca_cola,
#btn_rellenar_coca_cola_zero,
#btn_rellenar_coca_cola_light,
#btn_rellenar_sprite,
#btn_rellenar_fanta,
#btn_rellenar_nestea {
    width: 100px;
    height: 30px;
    font-size: 20px;
    font-family: "Pixelify Sans", sans-serif;
    border-radius: 10px;
    transition: all 0.3s ease;

}

#btn_rellenar_coca_cola:hover,
#btn_rellenar_coca_cola_zero:hover,
#btn_rellenar_coca_cola_light:hover,
#btn_rellenar_sprite:hover,
#btn_rellenar_fanta:hover,
#btn_rellenar_nestea:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    transform: scale(1.05);
}

#contenedor_dinero_recaudado {
    font-size: 25px;
    color: white
}

#dinero_recaudado {
    font-size: 40px;
    font-weight: bold;
}

#botones_confirmacion {
    display: flex;
    justify-content: center;
}


#dinero_total {
    font-size: 30px;
}



.input_precio {
    width: 80px;
    height: 30px;
    font-size: 18px;
    font-family: "Pixelify Sans", sans-serif;
    text-align: center;
    border-radius: 5px;
    border: 3px solid white;
    background-color: #c8102e;
    color: white;
    padding: 5px;
}

.input_precio:focus {
    outline: none;
    border-color: yellow;
}